@charset "UTF-8";


*{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
html{
	font-size: 62.5%;

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
	}
a:link, a:visited, a:hover, a:active{
	color: #d03c56;
	text-decoration: none;
}
.header{
	width: 100%;
	height: 70px;
	padding: 28px 0 10px;
  margin-bottom: 90px;
	background: url("/images/st.jpg") repeat-x;
	box-shadow: 0 0 10px 1px #e3e3e3;
  .logo{
  	width: 225px;
  	height: 56px;
  	margin: 0 auto;
  	background: url("/images/logo.png") no-repeat;
  	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;
    a{
    	width: 100%;
    	height: 100%;
    }
  }
  .global-nav{
  	margin-top: 15px;
  	text-align: center;
    border-bottom: 1px solid;
    border-color: #E6E6E6;
      .nav-item{
      	display: inline-block;
      	margin: 0 10px;
        a{
        	display: inline-block;
        	width: 100px;
        	height: 30px;
        	line-height: 30px;
        	text-align: center;
        	border-radius: 8px;
        	color: #666;
        	font-size: 1.3rem;
        	letter-spacing: 1px;
        	transition: 0.15s;
          }
        }
        .nav-item
        .nav-item.active a,
        .nav-item a:hover{
       	background-color: #d03c56;
       	color: #fff;
       }
      }
    }

.wrapper{
	width: 970px;
	margin: 30px auto 40px;
  .main{
  	display: block;
  	float: left;
  	width: 660px;
    .hidden{
    	display: none;
    }
    .hot-topic{
    	display: block;
    	height: 300px;
    	margin-bottom: 30px;
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    	transition: opacity 0.15s;
      :hover{
      	opacity: 0.85;
      }
      .image{
        float: left;
        width: 50%;
        height: 100%;
      }
      .content{
        float: left;
        width: 50%;
        height: 100%;
        padding: 105px 25px 0;
        background-color: #2d3d54;

      }
    }
  }
}
.sidemenu{
	float: right;
	width:275px;
}
.footer{
	width: 100%;
	font-style: 12px;
    }
  }
}
